.parralax {
  background-image: url("../../../assets/pictures/slide/imgparalax.jpg");
  min-height: 500px;
  background-attachment: fixed;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 3px 1px #000;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover
}
