div#headeravis {
    background-color: #83bb4d;
}

p.prate1 {
    margin-left: 39px;
    margin-top:9px;
    font-size: 15px;
    color: white
}
p.prate2 {
    margin-left: 39px;
    font-size: 15px;
    color: white
}
h4#titleavis {
    font-weight: bold;
}

p#textavis {
    font-size: 13px;
    color: lightgrey;
    margin-left: 22px;
}

.dv-star-rating {
    font-size: 36px;
    background-color: none;
    margin-left: 17px;
}

label#areaavis {
    color: lightslategrey;
    margin-left: 21px;
}

div#aviss {
    width: 50%;
    margin-left: 26%;
}

button.btn.btn-success.btn-lg.btnpost {
   
    left: 88%;
    position: relative;
    border: none;
    background-color: #83bb4d;
   
}