.carreaux{
    height: 350px;
    margin-bottom: 5%;
    
   
}
.carreaux1{
    background-color: #dfe6e7;
    
    height: 350px;
   margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
   
}
.imgcarreaux{
 margin: 10%;
}

.carreaux2{
    background-color: #dfe6e7;
    margin-bottom: 5%;
    height: 350px;
   margin-right: 2%;
    margin-left: 3%;
   
   
}

@media screen and (max-width: 990px) {

    .carreaux{
        height: 100%;       
    }
    .carreaux1{
      height: 95%;
    }

}
