.ajouter h4 {
  color: #7ed321;
}

.ajouter input,
.ajouter textarea,
.ajouter input[type="radio"] + label,
.ajouter input[type="checkbox"] + label:before,
.ajouter select option,
.ajouter input[type="radio"] + label,
.ajouter input[type="checkbox"] + label:before,
.ajouter select option,
.ajouter select,
.ajouter select,
.ajouter select,
.ajouter select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.ajouter input:focus {
  outline: 0;
  border-color: #64ac15;
}

.ajouter input:focus + .input-icon i {
  color: #7ed321;
}

.ajouter input:focus + .input-icon:after {
  border-right-color: #7ed321;
}

.ajouter input[type="radio"] {
  display: none;
}

.ajouter input[type="radio"] + label,
.ajouter select,
.ajouter select {
  display: inline-block;
  padding-left: 4.4em;
  text-align: left;
  float: left;
  border-radius: 0;
}

.ajouter input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ajouter input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ajouter input[type="radio"] + label i {
  padding-right: 0.4em;
}

.ajouter input[type="radio"]:checked + label,
.ajouter input:checked + label:before,
.ajouter select:focus,
.ajouter select:active,
.ajouter input:checked + label:before,
.ajouter select:focus,
.ajouter select:active {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.ajouter input[type="checkbox"] {
  display: none;
}

.ajouter input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

.ajouter input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}

.ajouter input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}

.ajouter input:checked + label:after {
  opacity: 1;
}

.ajouter select {
  height: 3.4em;
  line-height: 2;
}

.ajouter select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ajouter select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ajouter select:focus,
.ajouter select:active {
  outline: 0;
}

.ajouter select option {
  background-color: #fff;
  color: #000;
}

.ajouter .input-group {
  margin-bottom: 1em;
  zoom: 1;
}

.ajouter .input-group:before,
.ajouter .input-group:after {
  content: "";
  display: table;
}

.ajouter .input-group:after {
  clear: both;
}

.ajouter .input-group:before,
.ajouter .input-group:after {
  content: "";
  display: table;
}

.ajouter .input-group:after {
  clear: both;
}

.ajouter .input-group-icon {
  position: relative;
}

.ajouter .input-group-icon input {
  padding-left: 4.4em;
}

.ajouter .input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.ajouter .input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.ajouter .input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.ajouter .container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.ajouter .row {
  zoom: 1;
}

.ajouter .row:before,
.ajouter .row:after {
  content: "";
  display: table;
}

.ajouter .row:after {
  clear: both;
}

.ajouter .row:before,
.ajouter .row:after {
  content: "";
  display: table;
}

.ajouter .row:after {
  clear: both;
}

.ajouter .col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.ajouter .col-half:last-of-type {
  padding-right: 0;
}

.ajouter .col-half:last-of-type {
  padding-right: 0;
}

.ajouter .col-full {
  padding-right: 10px;
  float: left;
  width: 100%;
}

.ajouter .col-full:last-of-type {
  padding-right: 0;
}

.ajouter .col-full:last-of-type {
  padding-right: 0;
}

.ajouter .col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}

.ajouter .col-third:last-of-type {
  padding-right: 0;
}

.ajouter .col-third:last-of-type {
  padding-right: 0;
}

@media only screen and (max-width: 540px) {
  .ajouter .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.ajouter .input-group.input-group-icon select {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ajouter .area_height textarea {
  min-height: 250px;
}

.boxes {
  margin: auto;
  padding: 10px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #83bb4d;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notification-container {
  top: 50px !important;
}

.notification {
  font-size: 1.2em !important;
}

.notification-success {
  background-color: #83bb4d !important;
}

.thumbnail img {
  max-width: 100% !important;
}

input[type="file"] {
  padding: 0px;
}

.flexit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */