.find-home{
    background-color: #2c2c2c;
    border: 2px solid;

}


.row.line1 {
    border-bottom: 2px solid green;
  
    padding: 15px;
}


.row.line2 {
    padding: 19px;
    
}

.txtline2{
    color:white
}
.prix{

    color: white
}
.slogon{

    
        padding: 3px;
       
      
        width: 46%;
        
        font-family: none;
        color: white;
        font-size: 21px;
    
}

.form-control-range{
    margin-top: 15px;

}

.btnsearch{
    margin-top: 30px;
    width: 86%;
}

i.fa.fa-search {
    margin-right: 5px;
    
}