
body {
font-family: 'Open Sans', sans-serif;
font-size: 12px;
}

.center
{
    text-align: center;
}

.App
{
    overflow: hidden;
    background: url('../assets/pictures/background.jpg');
    background-size: cover;
}

